html,
body {
    color: #4c4c4c;
    font-size: 1em;
    font-family: "Neuton", Georgia, serif;
    margin: 0;
    padding: 0;
}

.content-footer,
.masthead-heading,
.masthead-accent {
  text-align: center;
}

.masthead {
    padding: 6em 0;
    background-image: url('../images/underwater.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 75%;
    border-top: solid 1em #ffd633;
}

.masthead-accent {
    margin-top: -2.5em;
    margin-bottom: 2em;
    font-family: "Neuton", Georgia, serif;
    font-size: 2em;
    font-weight: 300;
    color: #ffd633;
}

.masthead-heading {
    margin-top: -0.2em;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 6em; 
    text-shadow: -5px 0px 0px #00495c;
    letter-spacing: -0.1em;
    text-transform: uppercase;
    color: #fff;
}

.introduction-section,
.location-section,
.questions-section,
.projects-section {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.introduction-section > p,
.location-section > p,
.content-footer > p,
.projects-section > p {
    font-weight: 300;
    letter-spacing: 0.05em;
}

.questions-section > h3,
.projects-section >h2 {
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 1.2em;
    font-weight: bold;
    color: #4c4c4c;
    margin: 2em 0 0 0;
    padding-bottom: 0px;
}

section > h2 {
    margin-top: 1.2em;
    font-size: 2em;
    font-family: "Montserrat", Helvetica, sans-serif;
    color: #00495c;
}

.project-entry {
    padding: 0;
    margin: 0;
}

.project-entry li {
    max-height: 11em;
    display: inline-block;
    max-width: 20em;
    vertical-align: middle;
    padding: 1em;
}

.img-circle {
    border-radius: 50%;
    height: 9em;
    width: 9em;
    border: 1px solid #cccccc;
}

.project-entry a {
    text-decoration: none;
}

.project-entry a:hover {
    cursor: pointer;
}

.content-footer {
    background-color: #003e59;
    color: #ffd633;
    padding-top: 3em;
    padding-bottom: 3em;
    margin-top: 5em;
    border-bottom: solid 1em #ffd633;
}

.content-footer a {
    color: #ccebde;
    text-decoration: none;
    font-weight: 400;
    font-size: 0.85em;
    font-family: "Montserrat", Helvetica, sans-serif;
}

.content-footer a:hover {
  color: #f5fbf8;
}

/***/

.content-footer .icons {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding: 0px;
}

.content-footer .icons li {
    width: 1.5em;
    height: 1.5em;
    padding: 0.5em;
    display: inline-block;
    border: 1px solid #00495c;
    border-radius: 50%;
    margin: 0 0.3em;
}

.content-footer .icons a {
    color: #3f729b;
} 

.content-footer .icons a:hover {
    color: #66929d;
} 

.content-footer .twitter,
.content-footer .facebook, 
.content-footer .instagram,
.content-footer .github {
    color: #3f729b;
}

/*** RESPONSIVE ELEMENTS FOR SMALL SCREENS ***/

@media only screen and (max-width: 500px) {
  
    .masthead {
    padding: 3em 0;
    }

    .masthead-heading {
    font-size: 3em;
    }
  
    .introduction-section,
    .location-section,
    .questions-section,
    .projects-section,
    .content-footer {
    padding-left: 1em;
    padding-right: 1em;
    }

    .content-footer .twitter,
    .content-footer .facebook, 
    .content-footer .instagram,
    .content-footer .github {
    font-size: 1em;
    }

    .content-footer .icons {
    width: 12em;
    }

    .content-footer .icons li {
    width: 1em;
    height: 1em;
    }

    .masthead-accent {
    margin-top: -1.5em;
    margin-bottom: 1em;
    font-size: 1.5em;
    }

    .project-entry li {

    max-width: 10em;
    display: inline-block; 
    vertical-align: top;
    padding: 0.2em;
    }

    .img-circle {
    border-radius: 50%;
    height: 5em;
    width: 5em;
    border: 1px solid #cccccc;
    }
}
